body {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 0 auto;
}

:focus {
    outline: none;
}

.header {
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.board-container {
    height: 20rem;
    width: 20rem;
    display: flex;
    background-color: black;
    margin-top: 1rem;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    grid-gap: 6px;
    /* border: 10px solid black; */
    box-sizing: border-box;

}

.board__square {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.board__square--coloured {
    background-color: rgb(184, 232, 255);
}

.button--menu, .button--clear {
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;
}

.results__text--invisible {
    display: none;
}


.modal--players {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ff5d8f;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 30rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modal-open;
    animation-duration: 0.6s;
}

.modal--game {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ff5d8f;
}

.game__button {
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    color: #ff5d8f;
    margin: 0 1rem;
    border-radius: 120px;
    border: none;
    background-color: #fbfafa;
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.3);
}

.game__button:hover {
    background-color: #ff5d8f;
    color: #fbfafa;
    border: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    padding: 2rem;
    margin: 0 auto;
    width: 30rem;
    animation-name: modal-open;
    animation-duration: 0.6s;
    
}

.game__buttons {
    display: flex;
    padding: 2rem;
    /* background-color: #fbfafa; */
    /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3); */
}

.game__title {
    font-size: 6rem;
    padding-bottom: 2rem;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    color: #fbfafa;
}

/* Color pallette */
/* 
--french-pink: #ff5d8f;
--dark-liver: #494043;
--cultured: #fbfafa;
--cultured-2: #fafafa;
--coral: #ff8b5d; 
*/