body {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 0 auto;
}

:focus {
    outline: none;
}

.header {
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
}

.board-container {
    height: 30rem;
    width: 30rem;
    display: flex;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    grid-gap: 1px;
}

.board__square {
    border: solid 1px black;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
}



