body {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 0 auto;
}

:focus {
    outline: none;
}

.header {
    padding: 1rem;
    text-align: center;
    display: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.board-container {
    height: 20rem;
    width: 20rem;
    display: flex;
    background-color: black;
    margin-top: 1rem;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    grid-gap: 6px;
    /* border: 10px solid black; */
    box-sizing: border-box;

}

.board__square {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.board__square--coloured {
    background-color: rgb(184, 232, 255);
}

.button--update, .button--clear {
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;
}

.results__text--invisible {
    display: none;
}

